<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212500446904-km1toplpiq12163bp62v7n22vs7gm0a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212500446904-km1toplpiq12163bp62v7n22vs7gm0a7</string>
	<key>API_KEY</key>
	<string>AIzaSyBJLxRlWAZG4JP_8L8rr9EIxywmDrL-Wg4</string>
	<key>GCM_SENDER_ID</key>
	<string>212500446904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kargoApp</string>
	<key>PROJECT_ID</key>
	<string>cargo-laravel</string>
	<key>STORAGE_BUCKET</key>
	<string>cargo-laravel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212500446904:ios:fbfe31b77168b931cbbe4d</string>
	<key>DATABASE_URL</key>
	<string>https://cargo-laravel-default-rtdb.firebaseio.com</string>
</dict>
</plist>